
    <div class="row">
    <div class="col s12">
      <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">The Mongo Super Scraper 3000</a>
      <ul class="left hide-on-med-and-down">
       
        <li class="active"><a href="/articles">Saved Articles</a></li>
        <li ><a href="/">Home</a></li>
        <!-- <li><a href="/scrape" class="clicky btn pulse">Scrape!!!</a></li> -->
      </ul>
    </div>
  </nav>
  </div>
</div>
<div class="row toprow z-depth-5">
  <div class="col s12 center-align">
      <h1>The Ultimate Scraping Machine</h1>
      <h2>ESPN NBA Edition</h2>
</div>
</div>
    <div class="row">
      {{#each dbArticle}}
      <div class="col s12 res hoverable">
        
        <h4 class="title">{{title}} <button class="btn note" data-title="{{title}}" data-sum="{{sum}}" data-link="{{link}}">Note</button> <button class="btn red delete" data-title="{{title}}" data-sum="{{sum}}" data-link="{{link}}">Delete</button></h4>
        <P class="sum">{{sum}}</P>
        <p><a class="link" href="{{link}}">{{link}}</a></p>

</div>


{{/each}}
</div>

